/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Review Assignment
   
   Style Sheet for the Pandaisia Chocolates Monthly Specials
   Author: 
   Date:   
   
   Filename: pc_specials.css

*/

/* Page Body Styles */
body {
   width: 95%;
   min-width: 640px;
   max-width: 960px;
   margin-left: auto;
   margin-right: auto;
}



/* Image Styles */
img {
   display: block;
   width: 100%;
}


/* Horizontal Navigation Styles */
.horizontal ul li {
   display:block;
   float:left;
   width: 16.66%;
}
.horizontal ul li a {
   display:block;
}




/* Row Styles */
div.newRow {
   width:100%;
   clear:both;
}



/* Column Styles */
div[class^="col-"] {
   float: left;
   padding: 2%;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

.col-1-1 {width: 100%}
.col-1-2 {width: 50%}
.col-1-3 {width: 33.33%}
.col-2-3 {width: 66.67%}
.col-1-4 {width: 25%}
.col-3-4 {width: 75%}


/* Specials Styles */
div.specials {
   min-height: 400px;
   border-width: 1px;
   border-style: dashed;
   border-color: rgb(71, 52, 29);
}


/* Award Styles */
#awardList {
   position: relative;
   height: 650px;
   overflow: auto;
}

.awards {
   position: absolute;
   width: 30%;
}

#award1 {top: 80px; left:5%;}
#award2 {top: 280px; left:60%;}
#award3 {top: 400px; left:20%;}
#award4 {top: 630px; left:45%;}
#award5 {top: 750px; left:5%;}






/* Footer Styles */
body footer {
   clear: both
}
