<head>
    <style>
        table {
            width: 50%;
            border: red 2px solid;
            border-collapse: separate;
        }

        table th,
        table td {
            border: gray 1px solid;
            padding: 5px;
            vertical-align: top;
        }
    </style>
</head>

<body>
    <table>

        <tr>
            <th colspan=3 style="background-color: black;color: white;">30 August 2019</th>
        </tr>

        <tr>
            <th>Cinema</th>
            <th>Movies</th>
            <th>Showtimes</th>
        </tr>

        <tr>
            <th colspan=1 rowspan=3>GSC KL Pavilion</th>
            <td colspan=1 rowspan=2>Fast & Furious</td>
            <td>7-9pm Hall 1</td>
        </tr>

        <tr>
            <td>9-11pm Hall 2</td>
        </tr>

        <tr>
            <td>Angel has Fallen</td>
            <td>7-9pm Hall 3</td>
        </tr>
    </table>



</body>