@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 8
   Review Assignment

   Cinema Penguin Styles for Animation
   Author: 
   Date:   

   Filename: cp_animate2.css

*/

/* Transition Styles */
nav#topLinks a {
   color: rgb(255,255,255);
   text-shadow: 1px -1px 1px rgba(0,0,0,1);
   transform: scale(1,1) translateY(0px);
   transition: all 1.2s ease-in
}

nav#topLinks a:hover {
   color: rgb(255,183,25);
   text-shadow: 0px 15px 4px rgba(0,0,0,0.5);
   transform: scale(2,2) translateY(-15px);
}


/* Marquee Styles */
#marquee {
   position: relative 
}

#filmlist{
   position: absolute 
}



/* Keyframe Styles */
@keyframes scroll {
   0%{
      top: 250px
   }
   100%{
      top: -1300px 
   }
}  



/* Animation Styles */
#filmlist {
   animation-name: scroll;
   animation-duration: 50s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}

div#marquee:hover table{
   animation-play-state: paused;
}
