@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 8
   Review Assignment

   Cinema Penguin Styles for Media
   Author: 
   Date:   

   Filename: 

*/

/* Media Styles */
audio, video {
   display: block;
   width: 95%;
   margin-top: 20%;
   margin-right: auto;
   margin-bottom: 20%;
   margin-left: auto;
}


/* Track Styles */
video::cue {
   background-color: transparent;
   text-shadow: 1px 1px 2px rgb(255,177,66);
   font-size: 1.2em;
   font-family: sans-serif;
}

video::cue(.Title) {
   font-size: 2em;
   font-family: serif;
}