@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Review Assignment

   Tables Style Sheet
   Author: 
   Date:   

   Filename:         dlr_tables2.css

*/

/* Table Styles */
.programs {
   width:100%;
   border: 15px outset rgb(151,151,151);
   border-collapse: collapse;
   font-family: Arial, Verdana, sans-serif;
}

.programs tr {
   height: 25px;
}

th, td {
   border: 1px solid gray;
   vertical-align: top;
   padding: 5px;
}



/* Table Caption Styles */
caption {
   text-align: center;
   caption-side: bottom;
}


/* Table Column Styles */
.timeColumn {
   width:10%;   
   background-color: rgb(215,205,151);
}
.wDayColumns {
   width:11%;   
   background-color: rgb(236,255,211);

}
.wEndColumns {
   width:17%;   
   background-color: rgb(255,231,255);
}

/* Table Header Styles */
thead th {
   color:white;
   background-color: rgb(105,177,60);
}

thead th:first-of-type {
/*thead th:nth-of-type(1) {*/
   background-color: rgb(153,86,7);
}
thead th:nth-of-type(7),
thead th:nth-of-type(8) {
   background-color: rgb(153,0,153);
}

/* Table Footer Styles */

tfoot {
   color: white;
   background-color: black;
}





