@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Review Assignment

   Columns Style Sheet
   Author: 
   Date:   

   Filename:         dlr_columns2.css

*/



/* Column Styles */
@media only screen and (min-width: 641px) {
   p {
      -webkit-column-count:3;
      -webkit-column-gap: 20px;
      -webkit-column-rule: 1px solid black;

      -moz-column-count:3;
      -moz-column-gap: 20px;
      -moz-column-rule: 1px solid black;

      column-count:3;
      column-gap: 20px;
      column-rule: 1px solid black;
   }
}

